# Salesforce Connected App
SF_CLIENT_ID=3MVG9aNlkJwuH9vPAqLW_...
SF_USER_NAME=storm.fc56eb8d8955c3@salesforce.com

# Chave privada RSA (conteúdo completo do host_rsa.key, com \n)
SF_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIE...\n-----END RSA PRIVATE KEY-----"

# URLs Salesforce
SF_LOGIN_URL=https://login.salesforce.com
SF_CORE_INSTANCE_URL=https://storm-fc56eb8d8955c3.my.salesforce.com
SF_DATA_CLOUD_URL=https://mq2wknztmjrdkyjygzqwkyjwgm.c360a.salesforce.com

# Ingestion API
SF_INGEST_SOURCE=MobileAppTrackingEvents
SF_DATASET=transacao_cartao_credito
